.formContainer {
    background-color: lightblue;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .formContainer .formWrapper {
    background-color: azure;
    padding: 40px 80px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 17px;
    align-items: center;
  }
  .formContainer .formWrapper .logo {
    color: plum;
    font-weight: bold;
    font-size: 25px;
  }
  .formContainer .formWrapper .title {
    color: blueviolet;
    font-size: 18px;
  }
  .formContainer .formWrapper form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .formContainer .formWrapper form input {
    padding: 15px;
    border: none;
    width: 260px;
    background-color: azure;
    border-bottom: 1px solid gray;
  }
  .formContainer .formWrapper form input:hover {
    border: 2px solid lightcyan;
    background-color: #f0f0f0;
    border-radius: 5px;
  }

  .formContainer .formWrapper form button {
    background-color: #7b96ec;
    color: white;
    padding: 10px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .formContainer .formWrapper form button:hover {
    background-color: blue;
  }
  .formContainer .formWrapper form label {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #7b96ec;
    font-size: 14px;
    cursor: pointer;
    
  }
  .formContainer .formWrapper form label img {
    width: 35px;
    
  }
  .formContainer .formWrapper p {
    color: #5d5b8d;
    font-size: 13px;
    margin: 10px;
  }
  